@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

a,
a:active,
a:visited {
  color: inherit;
}
