@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

a,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}

#root {
  position: relative;
}
